<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/> <!-- This entry is required to process annotations like @Autowired -->

    <!-- bean definitions here -->

    <bean id="heartObj" class="com.navr.springcore.autowire.beans.OrganHeart"/>
    <bean id="eyeObj" class="com.navr.springcore.autowire.beans.OrganEye"/>

    <bean id="bodyObject" class="com.navr.springcore.autowire.beans.HumanBody"/>

    <bean id="anotherHeartObj" class="com.navr.springcore.autowire.beans.OrganHeart"/>

    <!-- CustomAnimal definitions -->
    <bean id="hagfishHeart" class="com.navr.springcore.autowire.beans.CustomHeart">
        <property name="nameOfAnimal" value="HagFish"/>
        <property name="numOfHearts" value="4"/>
    </bean>

    <bean id="octopusHeart" class="com.navr.springcore.autowire.beans.CustomHeart">
        <property name="nameOfAnimal" value="Octopus"/>
        <property name="numOfHearts" value="3"/>
    </bean>

    <bean id="customAnimal" class="com.navr.springcore.autowire.beans.CustomAnimal"/>

</beans>